<mat-card
  [ngClass]="{ 'active': showDetails }"
  style="cursor: pointer; display: block"
  (click)="toggleDetails()">

  <mat-card-title >
    <!--style="background-color: red; font-size: 35px"-->
    <button
    class="add"
    mat-button
    (click)="onDeleteGuest()"
    > X </button>
    {{ index + ' ' + guest.firtsName }}
  </mat-card-title>

  <mat-card-content [id]="'guest-description-' + index" *ngIf="showDetails">
    {{ index }} {{ guest.id }}
    <hr>
    {{ guest.firtsName }}
    <hr>
    {{ guest.lastName }}
    <hr>
    {{ guest.company }}
    <hr>
    {{ guest.birthDate | extendData:'d' }}
    <hr>
    {{ guest.birthDate | extendData:'t' }}
  </mat-card-content>

</mat-card>



<!------------------------------------------------------------------------------------------->
<!--appCollapseOnClick [show]="showDetails"-->
